.width-5 {
  width: 5px !important; }

.width-10 {
  width: 10px !important; }

.width-15 {
  width: 15px !important; }

.width-20 {
  width: 20px !important; }

.width-25 {
  width: 25px !important; }

.width-30 {
  width: 30px !important; }

.width-35 {
  width: 35px !important; }

.width-40 {
  width: 40px !important; }

.width-45 {
  width: 45px !important; }

.width-50 {
  width: 50px !important; }

.width-55 {
  width: 55px !important; }

.width-60 {
  width: 60px !important; }

.width-65 {
  width: 65px !important; }

.width-70 {
  width: 70px !important; }

.width-75 {
  width: 75px !important; }

.width-80 {
  width: 80px !important; }

.width-85 {
  width: 85px !important; }

.width-90 {
  width: 90px !important; }

.width-95 {
  width: 95px !important; }

.width-100 {
  width: 100px !important; }

.width-105 {
  width: 105px !important; }

.width-110 {
  width: 110px !important; }

.width-115 {
  width: 115px !important; }

.width-120 {
  width: 120px !important; }

.width-125 {
  width: 125px !important; }

.width-130 {
  width: 130px !important; }

.width-135 {
  width: 135px !important; }

.width-140 {
  width: 140px !important; }

.width-145 {
  width: 145px !important; }

.width-150 {
  width: 150px !important; }

.width-155 {
  width: 155px !important; }

.width-160 {
  width: 160px !important; }

.width-165 {
  width: 165px !important; }

.width-170 {
  width: 170px !important; }

.width-175 {
  width: 175px !important; }

.width-180 {
  width: 180px !important; }

.width-185 {
  width: 185px !important; }

.width-190 {
  width: 190px !important; }

.width-195 {
  width: 195px !important; }

.width-200 {
  width: 200px !important; }

.width-205 {
  width: 205px !important; }

.width-210 {
  width: 210px !important; }

.width-215 {
  width: 215px !important; }

.width-220 {
  width: 220px !important; }

.width-225 {
  width: 225px !important; }

.width-230 {
  width: 230px !important; }

.width-235 {
  width: 235px !important; }

.width-240 {
  width: 240px !important; }

.width-245 {
  width: 245px !important; }

.width-250 {
  width: 250px !important; }

.width-255 {
  width: 255px !important; }

.width-260 {
  width: 260px !important; }

.width-265 {
  width: 265px !important; }

.width-270 {
  width: 270px !important; }

.width-275 {
  width: 275px !important; }

.width-280 {
  width: 280px !important; }

.width-285 {
  width: 285px !important; }

.width-290 {
  width: 290px !important; }

.width-295 {
  width: 295px !important; }

.width-300 {
  width: 300px !important; }

.width-305 {
  width: 305px !important; }

.width-310 {
  width: 310px !important; }

.width-315 {
  width: 315px !important; }

.width-320 {
  width: 320px !important; }

.width-325 {
  width: 325px !important; }

.width-330 {
  width: 330px !important; }

.width-335 {
  width: 335px !important; }

.width-340 {
  width: 340px !important; }

.width-345 {
  width: 345px !important; }

.width-350 {
  width: 350px !important; }

.width-355 {
  width: 355px !important; }

.width-360 {
  width: 360px !important; }

.width-365 {
  width: 365px !important; }

.width-370 {
  width: 370px !important; }

.width-375 {
  width: 375px !important; }

.width-380 {
  width: 380px !important; }

.width-385 {
  width: 385px !important; }

.width-390 {
  width: 390px !important; }

.width-395 {
  width: 395px !important; }

.width-400 {
  width: 400px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }
  .text-center img {
    display: inline-block; }

.text-right {
  text-align: right; }

.number-color {
  color: "Noto Sans Korean" !important; }

.push-left {
  float: left; }
  .push-left img, .push-left p {
    display: inline-block;
    vertical-align: middle; }

.push-right {
  float: right; }
  .push-right img, .push-right p {
    display: inline-block;
    vertical-align: middle; }

.sub-title {
  font-size: 26px;
  margin-bottom: 30px; }
  .sub-title::after {
    content: '';
    display: table;
    clear: both; }
  .sub-title:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin-top: 25px;
    background: "Noto Sans Korean"; }
  .sub-title h2, .sub-title p {
    display: inline-block;
    line-height: 26px; }
  .sub-title p {
    font-size: 15px;
    margin-left: 8px; }
    .sub-title p span {
      color: "Noto Sans Korean"; }

.caution-text {
  color: #ff6c00; }

select, input[type="text"], input[type="file"], input[type="password"] {
  border: 1px solid #c4c5c9;
  background: #fff;
  color: #333;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  width: 100%; }

input[type="file"] {
  border: 1px solid #c4c5c9;
  background: #fff;
  color: #333;
  height: 34px;
  line-height: 34px;
  padding-left: 0px;
  width: 100%; }

.util-row {
  line-height: 32px; }
  .util-row::after {
    content: '';
    display: table;
    clear: both; }

.spacer-block {
  margin-right: 10px;
  display: inline-block; }
  .spacer-block:last-child {
    margin-right: 0; }

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #2b323f;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html *,
  html *::before,
  html *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
    - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
button,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 13px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #5f5f5f; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

img {
  display: block; }

button {
  font-family: "Noto Sans Korean";
  outline: 0;
  border: none;
  cursor: pointer; }

html {
  font-family: "Noto Sans Korean";
  color: #5f5f5f; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  margin-right: 2px; }

.dc-popup-wrap {
  height: 880px; }

.dc-inner-contents {
  width: 867px;
  margin: 0 auto;
  padding: 25px 0 30px 0; }

.dc-step-wrap {
  margin-bottom: 20px; }
  .dc-step-wrap.step1 {
    background: no-repeat left top url(../images/common/step_bg1.gif); }
  .dc-step-wrap.step2 {
    background: no-repeat left top url(../images/common/step_bg2.gif); }
  .dc-step-wrap.step3 {
    background: no-repeat left top url(../images/common/step_bg3.gif); }
  .dc-step-wrap::after {
    content: '';
    display: table;
    clear: both; }
  .dc-step-wrap li {
    width: 33.3%;
    float: left; }
    .dc-step-wrap li:nth-child(1) {
      padding-left: 64px; }
      .dc-step-wrap li:nth-child(1) .text_wrap .text {
        font-size: 13px; }
    .dc-step-wrap li:nth-child(2) {
      width: 33.4%;
      padding-left: 135px; }
    .dc-step-wrap li:nth-child(3) {
      padding-left: 136px; }
    .dc-step-wrap li .text_wrap {
      display: table;
      height: 41px;
      width: 100%; }
      .dc-step-wrap li .text_wrap .text {
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
        line-height: 15px;
        letter-spacing: -0.5px;
        color: #3f3f3f;
        font-weight: bold; }
        .dc-step-wrap li .text_wrap .text.active {
          color: #fff; }

.dc-popup-title {
  font-size: 15px;
  color: #373737;
  font-weight: bold;
  border-bottom: solid 1px #555555;
  padding-bottom: 10px; }

.dc-section.type1 {
  margin-top: 40px; }

.dc-section.type2 {
  margin-top: 30px; }

.dc-section.type3 {
  border-bottom: solid 1px #c6c6c6; }

.dc-info-wrap {
  margin-top: 15px;
  border: solid 1px #cccccc;
  padding: 20px;
  overflow: scroll;
  height: 345px; }

.dc-info-check {
  text-align: right;
  margin-top: 5px; }
  .dc-info-check label {
    display: inline-block;
    color: #787878;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    font-weight: bold; }
    .dc-info-check label span {
      color: #ff3d3d; }
    .dc-info-check label input {
      height: 20px; }

.dc-company-check::after {
  content: '';
  display: table;
  clear: both; }

.dc-company-check .left {
  line-height: 34px;
  padding: 8px 20px;
  background: #f8f8f8;
  width: 23%;
  float: left;
  font-weight: bold;
  color: #363636;
  letter-spacing: -0.5px; }
  .dc-company-check .left.under_line {
    border-bottom: solid 1px #e9e9e9; }

.dc-company-check .right {
  width: 77%;
  float: left;
  padding: 8px 20px; }
  .dc-company-check .right::after {
    content: '';
    display: table;
    clear: both; }
  .dc-company-check .right.under_line {
    border-bottom: solid 1px #e9e9e9; }
  .dc-company-check .right input {
    height: 34px;
    border: solid 1px #dedede; }
  .dc-company-check .right .input_3 {
    width: 32%;
    float: left; }
  .dc-company-check .right .hyphen {
    float: left;
    width: 2%;
    text-align: center;
    line-height: 34px;
    color: #787878;
    font-size: 13px; }

.dc-notice-wrap {
  border-top: solid 1px #c6c6c6;
  border-bottom: solid 1px #c6c6c6;
  padding: 25px 0 25px 70px;
  background: no-repeat left center url(../images/common/dc_notice_bg.gif); }
  .dc-notice-wrap.type1 {
    border: solid 1px #c6c6c6;
    margin-top: 30px;
    padding: 15px 0 15px 90px;
    background: no-repeat 15px center url(../images/common/dc_notice_bg.gif); }
  .dc-notice-wrap .title {
    font-size: 13px;
    color: #363636;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.4;
    letter-spacing: -1.5px; }
    .dc-notice-wrap .title a {
      color: #006bf1; }
      .dc-notice-wrap .title a:hover {
        text-decoration: underline;
        letter-spacing: -1px; }
  .dc-notice-wrap ul.depth1_list > li {
    padding-left: 10px;
    background: no-repeat left 8px url(../images/common/dc_notice_list_icon2.gif); }
  .dc-notice-wrap ul.depth2_list {
    margin-bottom: 10px; }
    .dc-notice-wrap ul.depth2_list li {
      font-size: 12px;
      color: #787878;
      line-height: 1.4;
      padding-left: 10px;
      margin-bottom: 3px;
      letter-spacing: -1px;
      background: no-repeat left 8px url(../images/common/dc_notice_list_icon.gif); }
      .dc-notice-wrap ul.depth2_list li:last-child {
        margin-bottom: 0; }

.btn-section {
  text-align: center; }
  .btn-section.type1 {
    margin-top: 30px; }
  .btn-section a {
    display: inline-block;
    width: 160px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }
    .btn-section a.submit {
      color: #fff;
      background: #003980; }
    .btn-section a.cancel {
      color: #fff;
      background: #5a6174; }

.dc-info-check-all::after {
  content: '';
  display: table;
  clear: both; }

.dc-info-check-all .ineer-section {
  margin-bottom: 5px;
  padding: 0 10px; }
  .dc-info-check-all .ineer-section::after {
    content: '';
    display: table;
    clear: both; }
  .dc-info-check-all .ineer-section:first-child {
    margin-top: 8px; }
  .dc-info-check-all .ineer-section:last-child {
    margin-bottom: 0; }
  .dc-info-check-all .ineer-section input[type="text"] {
    border: solid 1px #dedede; }
    .dc-info-check-all .ineer-section input[type="text"]::-webkit-input-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section input[type="text"]::-moz-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section input[type="text"]::-moz-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section input[type="text"]:-ms-input-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section input[type="text"]:-moz-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section input[type="text"]:disabled {
      background: #efefef; }
  .dc-info-check-all .ineer-section input[type="button"] {
    height: 34px;
    width: 100%;
    background: #95979d;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }
  .dc-info-check-all .ineer-section textarea {
    resize: none;
    width: 100%;
    border: solid 1px #dedede;
    padding: 10px;
    height: 100px; }
    .dc-info-check-all .ineer-section textarea::-webkit-input-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section textarea::-moz-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section textarea::-moz-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section textarea:-ms-input-placeholder {
      color: #b4b4b4; }
    .dc-info-check-all .ineer-section textarea:-moz-placeholder {
      color: #b4b4b4; }

.dc-info-check-all .left {
  float: left;
  width: 49.3%; }
  .dc-info-check-all .left::after {
    content: '';
    display: table;
    clear: both; }

.dc-info-check-all .right {
  float: right;
  width: 49.3%; }

.dc-info-check-all .inner_left {
  float: left;
  width: 74%; }

.dc-info-check-all .inner_right {
  float: right;
  width: 25%; }

.dc-doc-tab-wrap {
  position: relative; }
  .dc-doc-tab-wrap .dc-doc-tab {
    position: absolute;
    right: 0;
    top: -1px; }
    .dc-doc-tab-wrap .dc-doc-tab::after {
      content: '';
      display: table;
      clear: both; }
    .dc-doc-tab-wrap .dc-doc-tab li.tab_off {
      cursor: pointer;
      display: inline-block;
      float: left;
      margin-left: -1px;
      line-height: 25px;
      position: relative;
      font-size: 11px;
      color: #787878;
      padding: 0 12px 0 12px;
      border: solid 1px #dcdcdc;
      border-bottom: none; }
      .dc-doc-tab-wrap .dc-doc-tab li.tab_on {
      cursor: pointer;
      display: inline-block;
      float: left;
      margin-left: -1px;
      line-height: 25px;
      position: relative;
      font-size: 11px;
      padding: 0 12px 0 12px;
      border: solid 1px #dcdcdc;
        z-index: 9999;
        color: #383838;
        border-color: #555555; }

.dc-doc-contents {
  margin: 8px 10px;
}

#__html {
  background-color: #ffffff;
  margin: 20px 0px;
  padding: 50px;
  border: 1px solid black;
  width: 845px;
  /* 계약 필수 입력 사항 */
  /* 계약 선택 입력 사항 */
  /* 계약 선택 입력 사항 */ }
  #__html table {
    border: 0px; }
  #__html p {
    margin-top: 10px;
    margin-bottom: 10px; }
  #__html td {
    padding: 0px;
    height: 25px;
    border: 0px;
    font-family: NanumGothic, Arial;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0px;
    color: black;
    line-height: 25px; }
  #__html .glabel {
    height: 23px;
    line-height: 23px;
    color: #707070;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    background-color: #ffff00;
    padding: 1px; }
  #__html .label {
    height: 23px;
    line-height: 19px;
    color: #707070;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    ime-mode: active;
    padding: 1px; }
  #__html .label_n {
    height: 23px;
    line-height: 19px;
    color: #707070;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    padding: 1px; }
  #__html .input_r {
    height: 23px;
    line-height: 19px;
    color: #000000;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    ime-mode: active;
    background-color: yellow;
    vertical-align: middle;
    padding: 1px; }
  #__html .input_n {
    height: 23px;
    line-height: 19px;
    color: #000000;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    text-align: left;
    ime-mode: active;
    background-color: #FFFFFF;
    padding: 1px; }
  #__html .in_readonly {
    height: 23px;
    line-height: 19px;
    color: #000000;
    FONT-FAMILY: 돋움, Arial;
    FONT-SIZE: 12px;
    border: 1px solid;
    border-color: #d7d5ca;
    text-align: left;
    ime-mode: active;
    background-color: #eeeeee;
    padding: 1px; }
  #__html .lineTable {
    border-collapse: collapse;
    border: 1px solid black; }
  #__html .lineTable td {
    border: 1px solid black; }
  #__html .lineTable .noborder {
    border: 0px; }

.dc-file-wrap {
  margin-top: 8px; }
  .dc-file-wrap .file_innner {
    border-bottom: solid 1px #e9e9e9; }
    .dc-file-wrap .file_innner::after {
      content: '';
      display: table;
      clear: both; }
    .dc-file-wrap .file_innner:first-child {
      border-top: solid 1px #e9e9e9; }
    .dc-file-wrap .file_innner:last-child {
      border-bottom: solid 1px #e9e9e9; }
  .dc-file-wrap .file_left {
    float: left;
    width: 30%;
    padding: 3px 20px;
    line-height: 34px;
    background: #f8f8f8;
    font-weight: bold;
    color: #363636;
    letter-spacing: -0.5px; }
  .dc-file-wrap .file_right {
    padding: 3px 20px;
    width: 70%;
    float: right; }
    .dc-file-wrap .file_right::after {
      content: '';
      display: table;
      clear: both; }
    .dc-file-wrap .file_right input[type="text"] {
      float: left;
      width: 79%;
      border: solid 1px #dedede; }
      .dc-file-wrap .file_right input[type="text"]::-webkit-input-placeholder {
        color: #b4b4b4; }
      .dc-file-wrap .file_right input[type="text"]::-moz-placeholder {
        color: #b4b4b4; }
      .dc-file-wrap .file_right input[type="text"]::-moz-placeholder {
        color: #b4b4b4; }
      .dc-file-wrap .file_right input[type="text"]:-ms-input-placeholder {
        color: #b4b4b4; }
      .dc-file-wrap .file_right input[type="text"]:-moz-placeholder {
        color: #b4b4b4; }
      .dc-file-wrap .file_right input[type="text"]:disabled {
        background: #efefef; }
    .dc-file-wrap .file_right input[type="button"] {
      width: 20%;
      float: right;
      height: 34px;
      background: #95979d;
      cursor: pointer;
      border: none;
      color: #fff;
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px; }

.dc-complete {
  padding: 92px 0;
  height: 400px; }
  .dc-complete .title1 {
    margin-bottom: 163px;
    font-size: 20px;
    text-align: center;
    color: #363636;
    font-weight: bold;
    letter-spacing: -1px; }
  .dc-complete .title2 {
    background: no-repeat center top url(../images/common/com_icon.gif);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    color: #363636;
    padding-top: 148px; }

.dc-comlete-text {
  text-align: center;
  font-size: 15px;
  color: #787878;
  line-height: 23px; }

.dc-doc-psd {
  border: solid 1px #d8d8d8;
  padding: 30px;
  height: 754px; }
  .dc-doc-psd .title {
    font-size: 20px;
    text-align: center;
    color: #363636;
    font-weight: bold;
    letter-spacing: -1px; }

.lp-wrap .lp-header {
  background: #003980;
  padding: 0 30px; }
  .lp-wrap .lp-header h1 {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 0 15px 20px;
    background: url(../images/common/lp_header_icon.png) left center no-repeat; }

.lp-wrap .lp-container {
  padding: 20px 30px 25px 30px; }
  .lp-wrap .lp-container .lp-common-list {
    margin-bottom: 15px; }
    .lp-wrap .lp-container .lp-common-list li {
      color: #5c5b5b;
      line-height: 1.5;
      margin-bottom: 10px;
      padding-left: 10px;
      background: url(../images/common/common_list_icon.gif) left 9px no-repeat; }
      .lp-wrap .lp-container .lp-common-list li:last-child {
        margin-bottom: 0; }
  .lp-wrap .lp-container .lp-table-wrap table {
    border-top: solid 2px #003980;
    border-bottom: solid 2px #003980; }
    .lp-wrap .lp-container .lp-table-wrap table tr:last-child th {
      border-bottom: none; }
    .lp-wrap .lp-container .lp-table-wrap table tr:last-child td {
      border-bottom: none; }
    .lp-wrap .lp-container .lp-table-wrap table th {
      background: #f6f6f6;
      color: #003980;
      font-size: 14px;
      padding: 10px 15px;
      border-bottom: solid 1px #ebebeb;
      font-weight: bold;
      letter-spacing: -1px; }
    .lp-wrap .lp-container .lp-table-wrap table td {
      padding: 10px 15px;
      text-align: center;
      border-bottom: solid 1px #ebebeb;
      letter-spacing: -1px; }
      .lp-wrap .lp-container .lp-table-wrap table td a {
        font-size: 14px;
        color: #3788cc;
        text-decoration: underline;
        letter-spacing: -1px; }
        .lp-wrap .lp-container .lp-table-wrap table td a:hover {
          text-decoration: underline; }
  .lp-wrap .lp-container .lp-table-wrap .lp-table-text {
    margin-top: 15px;
    font-size: 14px;
    color: #909090;
    padding-left: 15px;
    background: url(../images/lp/lp_table_text_icon.gif) left 3px no-repeat; }

.lp-wrap .lp-close-btn {
  margin-top: 25px;
  text-align: center; }
  .lp-wrap .lp-close-btn a {
    display: inline-block;
    width: 165px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    background: #003980;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }
    .lp-wrap .lp-close-btn a:hover {
      background: #e64637; }
    
    