.width-5 {
  width: 5px !important; }

.width-10 {
  width: 10px !important; }

.width-15 {
  width: 15px !important; }

.width-20 {
  width: 20px !important; }

.width-25 {
  width: 25px !important; }

.width-30 {
  width: 30px !important; }

.width-35 {
  width: 35px !important; }

.width-40 {
  width: 40px !important; }

.width-45 {
  width: 45px !important; }

.width-50 {
  width: 50px !important; }

.width-55 {
  width: 55px !important; }

.width-60 {
  width: 60px !important; }

.width-65 {
  width: 65px !important; }

.width-70 {
  width: 70px !important; }

.width-75 {
  width: 75px !important; }

.width-80 {
  width: 80px !important; }

.width-85 {
  width: 85px !important; }

.width-90 {
  width: 90px !important; }

.width-95 {
  width: 95px !important; }

.width-100 {
  width: 100px !important; }

.width-105 {
  width: 105px !important; }

.width-110 {
  width: 110px !important; }

.width-115 {
  width: 115px !important; }

.width-120 {
  width: 120px !important; }

.width-125 {
  width: 125px !important; }

.width-130 {
  width: 130px !important; }

.width-135 {
  width: 135px !important; }

.width-140 {
  width: 140px !important; }

.width-145 {
  width: 145px !important; }

.width-150 {
  width: 150px !important; }

.width-155 {
  width: 155px !important; }

.width-160 {
  width: 160px !important; }

.width-165 {
  width: 165px !important; }

.width-170 {
  width: 170px !important; }

.width-175 {
  width: 175px !important; }

.width-180 {
  width: 180px !important; }

.width-185 {
  width: 185px !important; }

.width-190 {
  width: 190px !important; }

.width-195 {
  width: 195px !important; }

.width-200 {
  width: 200px !important; }

.width-205 {
  width: 205px !important; }

.width-210 {
  width: 210px !important; }

.width-215 {
  width: 215px !important; }

.width-220 {
  width: 220px !important; }

.width-225 {
  width: 225px !important; }

.width-230 {
  width: 230px !important; }

.width-235 {
  width: 235px !important; }

.width-240 {
  width: 240px !important; }

.width-245 {
  width: 245px !important; }

.width-250 {
  width: 250px !important; }

.width-255 {
  width: 255px !important; }

.width-260 {
  width: 260px !important; }

.width-265 {
  width: 265px !important; }

.width-270 {
  width: 270px !important; }

.width-275 {
  width: 275px !important; }

.width-280 {
  width: 280px !important; }

.width-285 {
  width: 285px !important; }

.width-290 {
  width: 290px !important; }

.width-295 {
  width: 295px !important; }

.width-300 {
  width: 300px !important; }

.width-305 {
  width: 305px !important; }

.width-310 {
  width: 310px !important; }

.width-315 {
  width: 315px !important; }

.width-320 {
  width: 320px !important; }

.width-325 {
  width: 325px !important; }

.width-330 {
  width: 330px !important; }

.width-335 {
  width: 335px !important; }

.width-340 {
  width: 340px !important; }

.width-345 {
  width: 345px !important; }

.width-350 {
  width: 350px !important; }

.width-355 {
  width: 355px !important; }

.width-360 {
  width: 360px !important; }

.width-365 {
  width: 365px !important; }

.width-370 {
  width: 370px !important; }

.width-375 {
  width: 375px !important; }

.width-380 {
  width: 380px !important; }

.width-385 {
  width: 385px !important; }

.width-390 {
  width: 390px !important; }

.width-395 {
  width: 395px !important; }

.width-400 {
  width: 400px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.inner-container {
  width: 1100px;
  margin: 0 auto; }
  .inner-container::after {
    content: '';
    display: table;
    clear: both; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }
  .text-center img {
    display: inline-block; }

.text-right {
  text-align: right !important; }

.number-color {
  color: "Noto Sans Korean" !important; }

.push-left {
  float: left; }
  .push-left img, .push-left p {
    display: inline-block;
    vertical-align: middle; }

.push-right {
  float: right; }
  .push-right img, .push-right p {
    display: inline-block;
    vertical-align: middle; }

.sub-title {
  font-size: 26px;
  margin-bottom: 30px; }
  .sub-title::after {
    content: '';
    display: table;
    clear: both; }
  .sub-title:after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin-top: 25px;
    background: "Noto Sans Korean"; }
  .sub-title h2, .sub-title p {
    display: inline-block;
    line-height: 26px; }
  .sub-title p {
    font-size: 15px;
    margin-left: 8px; }
    .sub-title p span {
      color: "Noto Sans Korean"; }

.caution-text {
  color: #ff6c00; }

textarea {
  border: 1px solid #dedede;
  width: 100%;
  resize: none;
  display: block;
  overflow-y: auto; }
  textarea::-webkit-input-placeholder {
    color: #9d9d9d; }
  textarea::-moz-placeholder {
    color: #9d9d9d; }
  textarea::-moz-placeholder {
    color: #9d9d9d; }
  textarea:-ms-input-placeholder {
    color: #9d9d9d; }
  textarea:-moz-placeholder {
    color: #9d9d9d; }

input[type="text"], input[type="file"], input[type="password"] {
  border: 1px solid #dedede;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }
  input[type="text"]::-webkit-input-placeholder, input[type="file"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
    color: #9d9d9d; }
  input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"]::-moz-placeholder, input[type="file"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"]:-ms-input-placeholder, input[type="file"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
    color: #9d9d9d; }
  input[type="text"]:-moz-placeholder, input[type="file"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
    color: #9d9d9d; }
  input[type="text"].calendar, input[type="file"].calendar, input[type="password"].calendar {
    background: no-repeat right 8px center url(../images/common/calendar_icon.png) #fff; }

input[type="button"] {
  -webkit-appearance: none; }

select {
  border: 1px solid #dedede;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  width: 100%;
  font-size: 16px !important; }
  select::-webkit-input-placeholder {
    color: #9d9d9d; }
  select::-moz-placeholder {
    color: #9d9d9d; }
  select::-moz-placeholder {
    color: #9d9d9d; }
  select:-ms-input-placeholder {
    color: #9d9d9d; }
  select:-moz-placeholder {
    color: #9d9d9d; }

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.util-row {
  line-height: 32px; }
  .util-row::after {
    content: '';
    display: table;
    clear: both; }

.spacer-block {
  margin-right: 10px;
  display: inline-block; }
  .spacer-block:last-child {
    margin-right: 0; }

/* notosans */
@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format("opentype"); }

/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #2b323f;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }
  html *,
  html *::before,
  html *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
    - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
button,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #333; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

img {
  display: block; }

button {
  font-family: "Noto Sans Korean";
  outline: 0;
  border: none;
  cursor: pointer; }

html {
  font-family: "Noto Sans Korean";
  line-height: 1;
  color: #333;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  margin-right: 2px; }

.wrap {
  width: 100%;
  padding-top: 65px;
  background: no-repeat center bottom url(../images/hub_bg.jpg); }

.header .inner-contents {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .header .inner-contents::after {
    content: '';
    display: table;
    clear: both; }

.header .logo {
  float: left; }

.header .search {
  float: right;
  width: 283px;
  background: url(../images/search_bg.png);
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px; }
  .header .search p {
    font-size: 15px;
    color: #1a2875;
    margin-bottom: 12px; }
  .header .search .input-wrap input[type='text'] {
    width: 80%;
    height: 34px;
    line-height: 34px;
    border: none;
    font-size: 14px;
    color: #878787;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }
  .header .search .input-wrap input[type='button'] {
    width: 18%;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background: #2f409f;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }

.header .main-title {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -151px; }

.container {
  padding-top: 52px; }
  .container .contents-wrap {
    height: 643px;
    position: relative; }
  .container .inner-contents {
    width: 1200px;
    margin: 0 auto; }
    .container .inner-contents::after {
      content: '';
      display: table;
      clear: both; }
  .container .gnb {
    position: relative;
    z-index: 9000; }
    .container .gnb::after {
      content: '';
      display: table;
      clear: both; }
    .container .gnb li {
      width: 305px;
      float: left; }
      .container .gnb li.item01 .gnb-wrap {
        background: url(../images/gnb_bg1.png); }
      .container .gnb li.item02 .gnb-wrap {
        background: url(../images/gnb_bg2.png); }
      .container .gnb li.item03 .gnb-wrap {
        background: url(../images/gnb_bg3.png); }
      .container .gnb li.item04 {
        width: 184px; }
        .container .gnb li.item04 .gnb-wrap {
          background: url(../images/gnb_bg4.png); }
      .container .gnb li.off .off-block {
        display: block; }
      .container .gnb li .gnb-wrap {
        position: relative;
        width: 284px;
        padding: 16px 16px 29px 16px; }
      .container .gnb li .off-block {
        display: none;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/off_bg.png); }
      .container .gnb li .img {
        text-align: center;
        margin-bottom: 32px; }
        .container .gnb li .img img {
          display: inline-block; }
      .container .gnb li .title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 17px; }
      .container .gnb li .text {
        text-align: center;
        font-size: 18px;
        color: #fff;
        margin-bottom: 23px; }
      .container .gnb li .btn {
        text-align: center; }
        .container .gnb li .btn a {
          display: inline-block;
          color: #fff;
          border: solid 1px #fff;
          font-size: 18px;
          line-height: 37px;
          padding: 0 45px;
          border-radius: 19px 19px 19px 19px;
          -moz-border-radius: 19px 19px 19px 19px;
          -webkit-border-radius: 19px 19px 19px 19px; }
          .container .gnb li .btn a:hover {
            background: #fff;
            color: #2e3f9e; }
  .container .gnb-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 643px; }
    .container .gnb-bottom .gnb-contents > li {
      height: 643px;
      display: none;
      position: relative; }
      .container .gnb-bottom .gnb-contents > li.active {
        display: block; }
      .container .gnb-bottom .gnb-contents > li.base {
        background: repeat-x left bottom url(../images/gnb_con_base.gif); }
        .container .gnb-bottom .gnb-contents > li.base .gb-wrap {
          background: no-repeat right bottom url(../images/con_base_bg.png); }
      .container .gnb-bottom .gnb-contents > li.item01 {
        background: repeat-x left bottom url(../images/gnb_con_bg1.gif); }
        .container .gnb-bottom .gnb-contents > li.item01 .gb-wrap {
          background: no-repeat right bottom url(../images/con_base_item1.png); }
      .container .gnb-bottom .gnb-contents > li.item02 {
        background: repeat-x left bottom url(../images/gnb_con_bg2.gif); }
        .container .gnb-bottom .gnb-contents > li.item02 .gb-wrap {
          background: no-repeat right bottom url(../images/con_base_item2.png); }
      .container .gnb-bottom .gnb-contents > li.item03 {
        background: repeat-x left bottom url(../images/gnb_con_bg3.gif); }
        .container .gnb-bottom .gnb-contents > li.item03 .gb-wrap {
          background: no-repeat right bottom url(../images/con_base_item3.png); }
      .container .gnb-bottom .gnb-contents > li.item04 {
        background: repeat-x left bottom url(../images/gnb_con_bg4.gif); }
        .container .gnb-bottom .gnb-contents > li.item04 .gb-wrap {
          background: no-repeat right bottom url(../images/con_base_item4.png); }
      .container .gnb-bottom .gnb-contents > li .gb-wrap {
        width: 1200px;
        margin: 0 auto;
        padding-top: 421px;
        height: 643px; }
        .container .gnb-bottom .gnb-contents > li .gb-wrap .title {
          color: #fff;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 30px; }
        .container .gnb-bottom .gnb-contents > li .gb-wrap .gb-con-list li {
          margin-bottom: 15px;
          font-size: 17px;
          padding-left: 15px;
          color: #fff;
          background: no-repeat left 8px url(../images/main_list_icon.gif); }
          .container .gnb-bottom .gnb-contents > li .gb-wrap .gb-con-list li:last-child {
            margin-bottom: 0; }

.footer {
  background: #131e56;
  padding: 35px 0; }
  .footer::after {
    content: '';
    display: table;
    clear: both; }
  .footer .inner-contents {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    .footer .inner-contents::after {
      content: '';
      display: table;
      clear: both; }
  .footer .logo {
    float: left; }
  .footer .text {
    margin-left: 47px;
    float: left;
    font-size: 13px;
    color: #e0e0e0;
    line-height: 21px; }
  .footer .service {
    float: right; }

.lp-wrap {
  visibility: hidden;
  display: table;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9500;
  background: url(../images/lp_bg.png); }
  .lp-wrap.active {
    visibility: visible; }
  .lp-wrap .lp-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .lp-wrap .lp-container .lp-contents {
      display: inline-block;
      width: 480px;
      background: #fff;
      text-align: left;
      padding: 22px 32px;
      border: solid 3px #2f409f;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px; }
      .lp-wrap .lp-container .lp-contents .title {
        font-size: 18px;
        color: #1a2875;
        border-bottom: solid 1px #2f409f;
        padding-bottom: 16px; }
      .lp-wrap .lp-container .lp-contents .notice {
        text-align: center;
        margin-bottom: 20px; }
        .lp-wrap .lp-container .lp-contents .notice p {
          text-align: left;
          display: inline-block;
          color: #2f409f;
          font-size: 16px;
          line-height: 21px;
          padding-left: 31px;
          background: no-repeat left top url(../images/lp_notice_icon.gif); }
          .lp-wrap .lp-container .lp-contents .notice p strong {
            color: #ff682c; }
      .lp-wrap .lp-container .lp-contents .lp-btn {
        text-align: center; }
        .lp-wrap .lp-container .lp-contents .lp-btn input {
          cursor: pointer;
          width: 80px;
          border: none;
          height: 34px;
          line-height: 34px;
          background: #2f409f;
          color: #fff;
          display: inline-block; }
      .lp-wrap .lp-container .lp-contents .lp-table {
        width: 100%;
        margin-bottom: 20px; }
        .lp-wrap .lp-container .lp-contents .lp-table thead th {
          padding: 15px 10px;
          font-size: 14px;
          background: #2f409f;
          color: #fff;
          text-align: center;
          border-right: solid 1px #fff;
          border-bottom: solid 1px #fff; }
          .lp-wrap .lp-container .lp-contents .lp-table thead th:last-child {
            border-right: none; }
        .lp-wrap .lp-container .lp-contents .lp-table tbody td {
          font-size: 14px;
          color: #565656;
          background: #eeeff6;
          border-bottom: solid 1px #fff;
          border-right: solid 1px #fff;
          padding: 15px 10px;
          text-align: center; }
          .lp-wrap .lp-container .lp-contents .lp-table tbody td:last-child {
            border-right: none; }
      .lp-wrap .lp-container .lp-contents .con1 {
        padding-top: 24px; }
        .lp-wrap .lp-container .lp-contents .con1 .notice-text {
          padding: 20px;
          line-height: 1.5;
          background: #eeeff6;
          text-align: center;
          font-size: 16px;
          color: #565656;
          margin-bottom: 20px; }
        .lp-wrap .lp-container .lp-contents .con1 .number {
          margin-top: 20px;
          text-align: center;
          color: #2f409f;
          font-size: 16px; }
        .lp-wrap .lp-container .lp-contents .con2 .number {
          margin-top: 20px;
          text-align: center;
          color: #2f409f;
          font-size: 16px; }
          
