<!-- footer start -->
<div class="page-footer">
    <div class="page-footer-link">
<!--     
        <div class="page-footer-link-inner">
            <ul class="page-footer-link-inner-list">
                <li><a href="javascript:fPopupPrivacy();">개인정보처리방침</a></li>
            </ul>
            <div class="page-footer-family">
                <div class="page-footer-family-btn">
                    <span>나이스다큐 다른 서비스</span>
                </div>
                <ul class="page-footer-family-list">
                    <li>
                        <a href="http://www.nicedocu.com/web/supplier/" target="_black">나이스다큐-건설 기업용</a>
                    </li>
                    <li>
                        <a href="https://nfc.nicedocu.com" target="_black">나이스다큐-프랜차이즈 기업용</a>
                    </li>
                    <li>
                        <a href="http://logis.nicedocu.com" target="_black">나이스다큐-물류 기업용</a>
                    </li>
                </ul>
            </div>
            <button class="page-top-btn" onclick="location.href='#top';">TOP</button>
        </div>
 -->
    </div>	
    <div class="page-footer-info">
        <div class="page-footer-info-inner">
        	<button class="page-top-btn" onclick="location.href='#top';">TOP</button>
        	<ul style="margin-bottom:10px;">
        		<li><a href="javascript:OpenWindow('/web/buyer/html/layout/policy.html', 'policy', 1200, 800);">이용약관</a></li>
        		<li><a href="javascript:OpenWindow('/web/buyer/html/layout/privacy.html', 'policy', 1200, 800);">개인정보처리방침</a></li>
        	</ul>
            <ul>
                <li><b>(주)농심</b></li>
                <li>주소 : 서울특별시 동작구 여의대방로 112(신대방동)</li>
                <li>사업자등록번호 : 118-81-03914</li>
			</ul>
            <ul>
                <li>대표이사 : 박 준</li>
                <li>대표전화 : 02.820.7114</li>
                <li>고객센터 : 080.023.5181</li>
			</ul>
            <ul>
                <li>©  NONGSHIM CO.,LTD. ALL RIGHTS RESERVED.</li>
            </ul>
        </div>
    </div>
</div>
<!-- footer end -->

<div id="loading"><img id="loading-image" src="../html/images/common/loading.gif" alt="Loading..."></div>

<script language="javascript" type="text/javascript" src="../html/js/jquery/ui.js"></script>