<!DOCTYPE html>
<html lang="ko">
<head>
	<title>나이스다큐 (전자구매시스템)</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name = "format-detection" content = "telephone=no">
	<link rel="stylesheet" type="text/css" href="/web/buyer/html/css/style_mobile.css?sysdate={{_sysdate}}">
    <script language="javascript" type="text/javascript" src="/web/buyer/html/js/jquery/jquery-3.1.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/web/buyer/html/js/jquery/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="/web/buyer/html/js/jquery/jquery.easing.1.3.js"></script>
	<script language="javascript" type="text/javascript" src="/web/buyer/html/js/common.js?sysdate={{_sysdate}}"></script>
	<script language="javascript" type="text/javascript" src="/web/buyer/html/js/lib.validate.js"></script>
	<script>
	$(document).ready(function(){
		$( "#ci-popup-btn" ).click(function() {
			$("#ci-popup").show();
			$("body").addClass("lp-fixed");
		});
		$( "#privacy-popup-btn" ).click(function() {
			$("#privacy-popup").show();
			$("body").addClass("lp-fixed");
		});
		$( "#service-popup-btn" ).click(function() {
			$("#service-popup").show();
			$("body").addClass("lp-fixed");
		});
		$( ".lp-close" ).click(function() {
			$(top.document).find(".lp-wrap").hide();
			$("body").removeClass("lp-fixed");
		});
		$('.HeightAuto').css('height' ,  $(window).height());
	});
	</script>
</head>
<body>
<div class="wrap">
	<div class="lp-wrap HeightAuto" id="service-popup">
		<div class="lp-popup service-info">
			<div class="lp-header">
				<p class="lp-title">怨좉컼吏??/p>
				<div class="lp-close">
					<i></i>
				</div>
			</div>
			<div class="lp-container">
				<div class="lp-textarea-block mb-5">
					<p class="lp-base-text">援?궡 NO. 1 ?섏씠?ㅻ떎???쒕퉬???댁슜怨?愿?⑦븳 臾몄쓽???꾨옒 怨좉컼吏?먯꽱?곕? ?댁슜??二쇱꽭??</p>
				</div>
				<div class="lp-service-call-block">
					<a href="#">
						<i></i>
						<div class="phone-number">
							<ul>
								<li onclick="document.location.href='tel:02-788-9097'">02-788-9097</li>
							</ul>
						</div>
					</a>
					<p class="service-text">?꾪솕踰덊샇瑜??대┃?섏떆硫??듯솕?곌껐??媛?ν빀?덈떎.</p>
				</div>
				<div class="lp-table-company-block">
					<table>
						<col width="30%">
						<col width="70%">
						<tbody>
						<tr>
							<th scope="row">?곷떞?쒓컙</th>
							<td>09:00 ~ 18:00</td>
						</tr>
						<tr>
							<th scope="row">?먯떖?쒓컙</th>
							<td>12:00 ~ 13:00</td>
						</tr>
						<tr>
							<th scope="row">?대Т??/th>
							<td>?? ?? 怨듯쑕???대Т</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="lp-background HeightAuto"></div>
	</div>

	<!-- layerpopup -->
	<div class="header-wrap">
		<div class="header">
			<div class="header-logo">
				<h1><img src="/web/supplier/html/images/m/logo.png" alt="援?궡 NO.1 援щℓ쨌議곕떖 ?ν꽣 ?섏씠?ㅻ떎???꾩옄?낆같쨌?꾩옄怨꾩빟 ?꾨??쒕퉬??></h1>
			</div>
			<div class="header-service">
				<div class="header-pc-service pc_pad">
					<div class="header-service-text">
						<i></i>
						<p>怨좉컼吏??/p>
					</div>
					<div class="header-service-phone">
						<ul>
							<li>02.788.9097</li>
						</ul>
					</div>
					<div class="header-service-time">
						<ul>
							<li>?곷떞?쒓컙 09:00~18:00</li>
							<li>?먯떖?쒓컙 12:00~13:00</li>
							<li>????怨듯쑕???대Т</li>
						</ul>
					</div>
				</div>
				<div class="header-m-service mobile">
					<div class="service-contents" id="service-popup-btn">
						<i></i>
						<p>怨좉컼吏??/p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- INCLUDE NAME 'BODY' -->
	<div class="footer-wrap">
		<div class="inner-container">
			<ul class="address">
				<li>NICE ?붿븻??二?  ??쒖옄 : 媛뺤슜援?/li>
				<li>?듭떊?먮ℓ???좉퀬踰덊샇 : ??012-?쒖슱援щ줈-1033??/li>
				<li class="last">?ъ뾽?먮벑濡앸쾲??: 107-87-08207</li>
				<li>?쒖슱???쒕?臾멸뎄 異⑹젙濡?36(異⑹젙濡?媛)</li>
				<li>TEL : 02-788-9097</li>
				<li class="last">FAX : 02-6442-2383</li>
			</ul>
			<p class="copyright">Copyright ?섏씠?ㅻ뵒?ㅼ븣 二쇱떇?뚯궗 All Rights Reserved.</p>
		</div>
	</div>
</div>
</body>
</html>
