<div class="page-header">
    <div class="page-header-top">
        <div class="page-header-top-inner">
            <!-- IF START 'login_block' -->
            <ul>
            	<li><p><span>{{_auth._MEMBER_NAME}}</span>/<span>{{_auth._USER_NAME}}</span>님께서 로그인 하셨습니다.</p></li>
                <!-- <li><a href="/web/buyer/">HOME</a></li> -->
                <li><a href="../main/logout.jsp">LOGOUT</a></li>
                <!-- <li><a href="javascript:bookMark();">즐겨찾기등록</a></li> -->
            </ul>
            <!-- IF END 'login_block' -->
            <!-- IFNOT START 'login_block' -->
            <ul>
            	<li><a href="/web/buyer/main/index.jsp">LOGIN</a></li>
                <!-- <li><a href="/web/buyer/">HOME</a></li> -->
            </ul>
            <!-- IFNOT END 'login_block' -->
        </div>
    </div>
    <div class="page-header-bottom">
        <div class="page-header-bottom-inner">
            <a href="/web/buyer/"><h1>전자계약시스템</h1></a>
            <ul class="page-gnb">
            	<!-- LOOP START 'menu' -->
                <li>
                    <a>{{menu.name}}</a>
                    <div class="page-gnb-depth2">
                        <div class="page-gnb-depth2-inner">
                            <div class="page-gnb-depth2-container">
                            	<!-- LOOP START 'm_menu' -->
                                <div class="page-gnb-depth2-row">
                                    <h2>{{m_menu.name}}</h2>
                                        <ul>
                                        	<!-- LOOP START 's_menu' -->
                                            <li><a href="{{s_menu.href}}">{{s_menu.name}}</a></li>
                                            <!-- LOOP END 's_menu' -->
                                        </ul>
                                </div>
                                <!-- LOOP END 'm_menu' -->
                            </div>
                        </div>
                    </div>
                </li>
                <!-- LOOP END 'menu' -->
            </ul>
        </div>
    </div>
</div>



