<!-- INCLUDE FILE 'layout/header.html' -->
<body>
<div class="popup-layer">
    <div class="popup-layer-header">
    	<div class="common-layer-header">
        <h2>{{popup_title}}</h2>
    	</div>
    </div>
    <div class="popup-layer-body">
<!-- INCLUDE NAME 'BODY' -->
	</div>
<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
    <iframe border="0" frameborder="0" height="185px" name="CalendarFrame" scrolling="no" src="/web/supplier/html/js/lib.calendar.js.htm" width="172px"></iframe>
</div>	
</div>
</body>
</html>
