<div class="quick-menu">
    <div class="quick-menu-inner">
    	<div class="quick-menu-nav">
	    	<h2>QUICK MENU</h2>
	        <ul>
	            <li><a href="http://www.0302.co.kr/ndocu" target="_blank">원격기술지원요청</a></li>
	        </ul>
	    </div> 
	    <div class="customer-menu">
         <h2><img src="/web/supplier/html/images/common/customer_menu_icon.png" alt="">고객지원센터</h2>
         <div class="customer-body">
             <h3>02-788-9097</h3>
             <p class="customer-day">평일: 09:00 - 18:00</p>
             <p class="customer-lunch">점심: 12:00 ~ 13:00</p>
             <p class="customer-end">토, 일, 공휴일 휴무</p>
             <span>nicedocu@nicedata.co.kr</span>
         </div>
     </div> 
    </div>
</div>